<!--
  Generated template for the AberturaRequerimentoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Abertura de Requerimento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <!--criar combobox: https://ionicframework.com/docs/v3/api/components/select/Select/-->
    <ion-item>
      <ion-label>Tipo Requerimento</ion-label>
      <!--Necessario fazer puxar os dados do banco, verificar como fazer webservice para receber os dados/video30-->
      
      <!--ion-select [(ngModel)]="requerimentos">
        <ion-option> {{listaRequerimentos[0]}}</ion-option-->

      <ion-select [(ngModel)]="requerimentos">
        <ion-option *ngFor="let tipoRequerimento of listaRequerimentos" [value]="tipoRequerimento"></ion-option>
      
        <!--ion-select *ngFor="let tipoRequerimento of listaRequerimentos">
        <ion-option [value]="tipoRequerimento"></ion-option-->
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item>
      <ion-label stacked>Documentos Necessários:</ion-label>
      <!--TODO: quando selecionar o tipo d erequerimento carregar essa lista com os documentos referente ao tipo-->
    </ion-item>


    <ion-item>
        <ion-label stacked>Descrição:</ion-label>
      </ion-item>

  <ion-content>

    <button ion-button margin-right navPop>
      Cancelar
    </button>

  </ion-content>
  <!--
    
        <button ion-button margin-left (click)> 
          Salvar
        </button>-->

</ion-content>